<header>

  <div class="navbar navbar-default navbar-fixed-top affix-top" role="navigation" data-spy="affix" data-offset-top="50">

    <div class="container">

      <!--Mobile navigation-->

      <div class="navbar-header">

        <button type="button" class="navbar-toggle dropdown-button waves-effect waves-teal btn-flat" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
        <!--Logo-->

        <a class="navbar-brand logo" href="">
          <img src="/images/logo/logo-dark.png"  alt="" title="">
        </a>
      </div>

      <!--Links Menu-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right navigation-links">
          <li class="active active-link">
            <a data-scroll="" href="#home" class="section-scroll">Home</a>
          </li>

          <li>
            <a data-scroll="" href="#about" class="section-scroll">About </a>
          </li>
          <li>
            <a data-scroll="" href="#packages" class="section-scroll">Packages </a>
          </li>

          <li>
            <a data-scroll="" href="#reviews" class="section-scroll">Reviews</a>
          </li>

          <li>
            <a data-scroll="" href="#faqs" class="section-scroll">FAQs </a>
          </li>
          <li class="connect-links">

            <a href="/signup" class="white-btn">Sign up</a>

            <a href="/signin" class="btn-login">Login</a>
          </li>

        </ul>
      </div>

    </div>

  </div>

</header>
